/* Import Bootstrap. */
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Nixie+One);
/* Space out content a bit */
body {
  margin-top: 75px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}
